{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'permission-role-list' %}">{% trans "Permission Roles" %}</a>
        </li>
        <li class="active">{% trans "Delete Permission Role?" %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete Permission Role?" %}
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>{% trans "Delete Permission Role" %}</h2>
    </div>
    <form method="post" class="well">
        {% csrf_token %}
        {{ form }}
        {% blocktrans with name=object.name %}
            <p>Are you sure you want to delete<strong> {{ name }}</strong>?</p>
        {% endblocktrans %}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger"
                    data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
            {% trans "or" %} <a href="{% url 'permission-role-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock %}
